* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
  box-sizing: border-box;
}

.introduction {
  justify-content: center;
  color: #0e1410
}

header {
  background-color: #f6aa5f;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.6rem 10vw;
  color: white;
}

header a:link {
  color: white;
}
